#login-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, #0C3C70, #025AA5);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    mask-image: linear-gradient(to bottom, transparent, black);
    background: linear-gradient(90deg, #0d1117, #0d1117);
  }
}